@charset "UTF-8";

@font-face {
  font-family: "trevolawesome";
  src:url("../fonts/trevolawesome.eot");
  src:url("../fonts/trevolawesome.eot?#iefix") format("embedded-opentype"),
    url("../fonts/trevolawesome.woff") format("woff"),
    url("../fonts/trevolawesome.ttf") format("truetype"),
    url("../fonts/trevolawesome.svg#trevolawesome") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "trevolawesome" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "trevolawesome" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-straight-route:before {
  content: "\61";
}
.icon-curve-route:before {
  content: "\62";
}
.icon-plane-down:before {
  content: "\63";
}
.icon-plane-up:before {
  content: "\64";
}
.icon-food-icon:before {
  content: "\65";
}
