html {
}

body {
	position:relative;
	min-width:800px;
	font-size:14px;
	background-color:#EEE;
	overflow-y:hidden;
}

.inline {
	display:inline-block !important;
}

.nomargin {
	margin:0 !important;
}

.nopadding {
	padding:0 !important;
}

.padding-xs {
	padding:5px 7px !important;
}

.txt {
	display:inline-block;
	padding-top:7px;
	padding-bottom:7px;
	font-size:14px;
}

.txt-title {
	display:inline-block;
	padding-top:10px;
	padding-bottom:10px;
	font-size:20px;
}

.txt-shadow {
	text-shadow: 2px 1px #333;
}

.txt-wrap {
	width:100%;
	word-wrap: break-word;
	white-space: initial;
}

.large {
	font-size:200%;
	font-weight:bold;
}

.bar {
	min-height:34px;
}

.hide { display:none; }
.margin-all { margin: 15px; }
.margin-top { margin-top:15px; }
.margin-bottom { margin-bottom: 15px; }
.padding-all { padding:13px; }
.padding-left { padding-left:13px; }
.padding-right { padding-right:13px; }

#wrapper-header {
	width:100%;
	height:44px;
	padding:5px 0;
	background-color:#FFF;
}

#wrapper-logo {
	display:inline-block;
	float:left;
	border-right:thin solid #EEE;
}

#wrapper-title {
	display:inline-block;
	float:left;
	margin-left:30px;
}

#wrapper-title a {
	color:black;
}

#wrapper-alert {
	display:inline-block;
	float:right;
	padding-right:30px;
}

#wrapper-alert .alert {
	margin: 0;
	padding: 5px 35px 5px 15px;
}

#wrapper-button {
	display:inline-block;
	float:right;
	padding-right:10px;
}

#wrapper-button a {
	width:80px;
	margin-left:5px;
}

#wrapper-menu {
	padding:0 10px;
	width:100%;
	height:32px;
	background-color:#CCC;
	border:solid thin #DDD;
}

#wrapper-menu ul {
	margin: 0;
	padding: 0;
}

#wrapper-menu ul li:hover {
	background-color:#BBB;
}

#wrapper-menu ul li {
	display:inline-block;
	float:left;
	text-align:center;
}

#wrapper-menu ul li a {
	color:#FFF;
	padding: 5px 20px;
	display:inline-block;
}

#wrapper-menu ul .active {
	background-color:#666;
}

#wrapper-menu ul li a:hover {
	text-decoration:none;
	cursor:pointer;
}

#wrapper-main {
	width:100%;
	min-width:800px;
	text-align:center;
}

#wrapper-center {
	float:left;
	padding:15px 0;
	width:calc(100vw - 330px);
	min-width:calc(800px - 330px);
	height:calc(100vh - 76px - 40px);
	background-color:#EEE;
	overflow-y:scroll;
	overflow-x:scroll;
}

#itinerary-table {
	margin:5px auto;
	width:calc(100vw - 360px);
	min-height:30px;
	background-color:#FFF;
    border-collapse: collapse;
}

#itinerary-table th, td {
    text-align: left;
    padding: 8px;
	border-bottom: 1px solid #ddd;
}

#wrapper-right {
	float:right;
	padding:15px 0;
	width:330px;
	height:calc(100vh - 76px - 40px);
	background-color:#FFF;
	overflow-y:scroll;
}

#wrapper-footer {
	height:40px;
}

.nav-tabs-bottom {
	border-bottom:none;
	border-top:solid 1px #999;
}

.nav-tabs-bottom a {
	color:#999;
}

.nav-tabs-bottom > li {
	margin-bottom: 0;
	margin-top:-1px;
}

.nav-tabs-bottom > li.tab > a {
	border:solid 1px #CCC;
	border-top:none;
	border-top-left-radius:0;
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}

.nav-tabs-bottom > li.tab:hover > a {
	border:solid 1px #CCC;
	border-top:none;
	border-top-left-radius:0;
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}

.nav-tabs-bottom > li:hover {
	margin-bottom: 0;
	margin-top:-1px;
}

.nav-tabs-bottom > li:hover > a {
	border-bottom:none;
	border-top:solid 1px #999;
	border-top-left-radius:0;
	border-top-right-radius:0;
}

.nav-tabs-bottom > li.active > a{
	border:solid 1px #999;
	border-top:none;
	border-top-left-radius:0;
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	cursor:pointer;
	color:#666;
}

.nav-tabs-bottom > li.active:hover > a{
	border:solid 1px #999;
	border-top:none;
	border-top-left-radius:0;
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	cursor:pointer;
	color:#000;
}