html {
}

body {
	position:relative;
	font-size:14px;
	background-color:#EEE;
	overflow-y:hidden;
	text-align:center;
}

body > .container-fluid {
	max-width:400px;
	margin:auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align:left;
}

a {
	cursor:pointer;
}

ul {
	margin:0;
}

.box-shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inline {
	display:inline-block !important;
}

.noscrollbar::-webkit-scrollbar { 
    display: none; 
}

.nomargin {
	margin:0 !important;
}

.nopadding {
	padding:0 !important;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

.btn-simple:active {
	box-shadow:none;
}

.padding-xs {
	padding:5px 7px !important;
}

.txt {
	display:inline-block;
	padding-top:7px;
	padding-bottom:7px;
	font-size:14px;
}

.txt-title {
	display:inline-block;
	padding-top:10px;
	padding-bottom:10px;
	font-size:20px;
}

.txt-shadow {
	text-shadow: 2px 1px #333;
}

.txt-wrap {
	width:100%;
	word-wrap: break-word;
	white-space: initial;
}

.large {
	font-size:200%;
	font-weight:bold;
}

.bar {
	min-height:34px;
}

.hide { display:none; }
.margin-all { margin: 15px; }
.margin-top { margin-top:15px; }
.margin-bottom { margin-bottom: 15px; }
.padding-all { padding:13px; }
.padding-left { padding-left:13px; }
.padding-right { padding-right:13px; }

/* START: wrapper-header */
	#wrapper-header {
		width:100%;
		height:48px;
		padding:7px 0;
		background-color:#FFF;
	}
	
	/*
		#wrapper-logo {
			display:inline-block;
			float:left;
			border-right:thin solid #EEE;
		}
		
		#wrapper-logo div > a {
			color:#ff5a5f;
			font-weight:bold;
		}
		
		#wrapper-logo div > a:hover {
			color:#e00007;
			text-decoration:none;
		}
		
		#wrapper-logo .dropdown-menu {
			margin-left:10px;
		}
		
		#wrapper-logo .dropdown-menu:before {
			position: absolute;
			top: -7px;
			left: 9px;
			display: inline-block;
			border-right: 7px solid transparent;
			border-bottom: 7px solid rgba(0, 0, 0, 0.2);
			border-left: 7px solid transparent;
			content: '';
		}
		
		#wrapper-logo .dropdown-menu:after {
			position: absolute;
			top: -6px;
			left: 10px;
			display: inline-block;
			border-right: 6px solid transparent;
			border-bottom: 6px solid #ffffff;
			border-left: 6px solid transparent;
			content: '';
		}
	*/
	
	/* START: wrapper-menu-icon */
		#wrapper-menu-icon {
			display:inline-block;
			float:left;
		}
		
		#wrapper-menu-icon a {
			margin:-7px 0;
			padding:14px;
			border:none;
		}
	/* END */
	
	
	
	/* START: wrapper-alert */
		#wrapper-alert {
			position:absolute;
			top:0;
			left:calc(52px + 15px);
			margin-top:9px;
		}
		
		#wrapper-alert .alert {
			margin: 0;
			padding: 5px 35px 5px 15px;
		}
	/* END */
	
	/* START: wrapper-button */
		#wrapper-button {
			display:inline-block;
			float:right;
			padding-right:10px;
		}
		
		#wrapper-button a {
			width:80px;
			margin-left:5px;
		}
	/* END */
	
	/* START: wrapper-mobile-icon */
		#wrapper-mobile-icon {
			display:inline-block;
			float:right;
			padding-right:10px;
			margin-top:7px;
		}
	/* END */
	
	/* START: wrapper-account-icon */
		#wrapper-account-icon {
			padding:0 3px ;
			margin-top:-2px;
			margin-right:7px;
			float:right;
		}
		
		#wrapper-account-icon > div > a{
			color:#e93578;
		}
		
		#wrapper-account-icon > div > a:hover{
			color:#bb285c;
		}
		
		#wrapper-account-icon > div > a:active {
			color:#9c1f4d;
		}
		
		#wrapper-account-icon .dropdown-toggle {
			box-shadow:none;
		}
		
		#wrapper-account-icon .dropdown-menu.pull-right:before {
			position: absolute;
			top: -7px;
			right: 10px;
			display: inline-block;
			border-right: 7px solid transparent;
			border-bottom: 7px solid rgba(0, 0, 0, 0.2);
			border-left: 7px solid transparent;
			content: '';
		}
		
		#wrapper-account-icon .dropdown-menu.pull-right:after {
			position: absolute;
			top: -6px;
			right: 11px;
			display: inline-block;
			border-right: 6px solid transparent;
			border-bottom: 6px solid #ffffff;
			border-left: 6px solid transparent;
			content: '';
		}
	/* END */
/* END */


/* START: wrapper-account */
	#wrapper-account {
		position:relative;
		z-index:1000;
		border-top:solid thin #EEE;
	}
	
	#wrapper-account-modal-background {
		position:absolute;
		top:0;
		right:0;
		height:calc(100vh - 48px);
		width:calc(100vw);
		background-color:#000;
		opacity:0.2;
		display:none;
	}
	
	#wrapper-account-modal-body {
		position:absolute;
		top:0;
		right:0;
	}
	
	#wrapper-account-modal-shadow {
		position:absolute;
		top:6px;
		right:0;
		width:100%;
		height:calc(100px - 6px);
		display:none;
	}
	
	#wrapper-account-modal-content {
		position:absolute;
		top:0;
		right:0;
		width:100%;
		height:100px;
		padding:15px 0;
		background-color:#FFF;
		display:none;
	}
	
	#wrapper-account ul {
		width:100%;
	}
	
	#wrapper-account li {
		height:30px;
		width:100%;
	}
	
	#wrapper-account li a {
		padding:5px 15px;
		display:block;
		width:100%;
		color:#777;
	}
	
	#wrapper-account li.active a {
		color:#fff;
		background-color:#e93578;
	}
	
	#wrapper-account li a:hover {
		color:#fff;
		background-color:#e93578;
	}
/* END */

/* START: wrapper-debug */
	#wrapper-debug-button {
		position:fixed;
		top:50px;
		right:20px;
		z-index:3;
	}
	
	#wrapper-debug {
		position:relative;
		z-index:1000;
		border-top:solid thin #EEE;
	}
	
	#wrapper-debug-modal-background {
		position:absolute;
		top:0;
		right:0;
		height:calc(100vh - 48px);
		width:calc(100vw);
		background-color:#000;
		opacity:0.2;
		display:none;
	}
	
	#wrapper-debug-modal-body {
		position:absolute;
		top:0;
		right:0;
	}
	
	#wrapper-debug-modal-shadow {
		position:absolute;
		top:6px;
		right:0;
		width:100%;
		height:calc(100vh - 48px - 6px);
		display:none;
	}
	
	#wrapper-debug-modal-content {
		position:absolute;
		top:0;
		right:0;
		width:100%;
		height:calc(100vh - 48px);
		padding:15px 0;
		background-color:#FFF;
		display:none;
	}
/* END */

/* START: wrapper-main */
	#wrapper-main {
		width:100%;
		text-align:center;
	}
	
	/* START: section-footer */
		#section-footer {
			height:40px;
		}
		
		.nav-tabs-bottom {
			border-bottom:none;
			border-top:solid 1px #999;
		}
		
		.nav-tabs-bottom a {
			color:#999;
		}
		
		.nav-tabs-bottom > li {
			margin-bottom: 0;
			margin-top:-1px;
		}
		
		.nav-tabs-bottom > li.tab > a {
			border:solid 1px #CCC;
			border-top:none;
			border-top-left-radius:0;
			border-top-right-radius:0;
			border-bottom-left-radius:4px;
			border-bottom-right-radius:4px;
		}
		
		.nav-tabs-bottom > li.tab:hover > a {
			border:solid 1px #CCC;
			border-top:none;
			border-top-left-radius:0;
			border-top-right-radius:0;
			border-bottom-left-radius:4px;
			border-bottom-right-radius:4px;
		}
		
		.nav-tabs-bottom > li:hover {
			margin-bottom: 0;
			margin-top:-1px;
		}
		
		.nav-tabs-bottom > li:hover > a {
			border-bottom:none;
			border-top:solid 1px #999;
			border-top-left-radius:0;
			border-top-right-radius:0;
		}
		
		.nav-tabs-bottom > li.active > a{
			border:solid 1px #999;
			border-top:none;
			border-top-left-radius:0;
			border-top-right-radius:0;
			border-bottom-left-radius:4px;
			border-bottom-right-radius:4px;
			cursor:pointer;
			color:#666;
		}
		
		.nav-tabs-bottom > li.active:hover > a{
			border:solid 1px #999;
			border-top:none;
			border-top-left-radius:0;
			border-top-right-radius:0;
			border-bottom-left-radius:4px;
			border-bottom-right-radius:4px;
			cursor:pointer;
			color:#000;
		}
		
		/* START: Show dropdown menu when hover */
			.sidebar-nav {
				padding: 9px 0;
			}
			
			.dropdown-menu .sub-menu {
				left: 100%;
				position: absolute;
				top: 0;
				visibility: hidden;
				margin-top: -1px;
			}
			
			.dropdown-menu li:hover .sub-menu {
				visibility: visible;
			}
			
			.dropdown:hover .dropdown-menu {
				display: block;
			}
			
			.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
				margin-top: 0;
			}
			
			.navbar .sub-menu:before {
				border-bottom: 7px solid transparent;
				border-left: none;
				border-right: 7px solid rgba(0, 0, 0, 0.2);
				border-top: 7px solid transparent;
				left: -7px;
				top: 10px;
			}
			.navbar .sub-menu:after {
				border-top: 6px solid transparent;
				border-left: none;
				border-right: 6px solid #fff;
				border-bottom: 6px solid transparent;
				left: 10px;
				top: 11px;
				left: -6px;
			}
		/* END */
		
		/* START: Footer Powerby */
			#section-powerby {
				position:fixed;
				bottom:0;
				right:0;
				color:#999;
				padding:10px 15px;
				cursor:default;
			}
			
			#section-powerby-brand {
				color:#e93578;
				font-weight:bold;
			}
		/* END */
	/* END */
/* END */

.tooltip {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

.label-pill {
	border-radius: 4px;
}

.control-label {
	padding-top:7px;
	padding-bottom:7px;
}

/* START: modal */
	.modal-header {
		padding:15px;
		background-color:rgb(224, 224, 226);
		border-top-left-radius:6px;
		border-top-right-radius:6px;
		border-bottom:solid thin rgba(0,0,0,.05);
	}
	.modal-header button {
		margin-top:0 !important;
		opacity:.5;
	}
	.modal-header button:hover {
		opacity:.8;
	}
	.modal-title {
		font-weight:bold;
		font-size:14px;
		color:#333;
	}
	.modal-body {
		color:#777;
	}
	.modal-body-footnote {
		padding:15px 0px;
	}
	.modal-footer {
		padding:7px 15px;
	}
	.modal-footer .line-spacer {
		line-height:7px;
		max-height:7px;
	}
/* END */
/* START: form */
	.control-label {
		font-weight:normal;
		color:#777;
	}
/* END */
/* START: progress */
	.progress .progress-bar {
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
	}
/* END */
/* START: scrollbar */
	::-webkit-scrollbar { 
		display: none; 
	}
/* END */