.sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
.sortable li { margin: 0; padding: 3px 0px; border-bottom: 1px solid #ddd; border-left:2px solid transparent; overflow:hidden;}
.sortable li:hover { background-color:white; }
.sortable li span { display:inline-block; }
.sort_th { font-weight:bold; color:#333; float:left; }
.sort_tr { float:left; }
.sort_col1{ width:10%; }
.sort_col2{ width:20%; }
.sort_col3{ width:30%; }
.sort_col4{ width:40%; }
.sort_col5{ width:50%; }
.sort_col6{ width:60%; }
.sort_col7{ width:70%; }
.sort_col8{ width:80%; }
.sort_col9{ width:90%; }
.highlight:hover { background-color:#FFC; }
.disabled { color:#666; }
.margin-top { margin-top:20px; }
.margin-top-half { margin-top:10px; }
.margin-bottom { margin-bottom:20px; }
.padding-top { padding-top:7px; }
.padding-bottom { padding-bottom:7px; }
.fixed_height { height: 32px;}
.title { position:relative; background-color:#666; color:#FFF; padding-top:7px; padding-bottom:7px; text-align:center; font-weight:bold; font-size:14px; }
.title-left-button {
	position:absolute;
	top:0;
	left:0;
}
.screen-line { border-bottom: thin solid #CCC; }

#text_subtitle { color:#3c763d; }
#itinerary_screen a { color:#3c763d; }
#itinerary_screen a:hover { color:#000; }
#itinerary_screen .btn-title { color:#FFF; }
#itinerary_screen .btn-icon { color:#063; }
#itinerary_screen .btn-success { color:#FFF; }
#itinerary_screen .btn-success:hover { color:#FFF; }
#itinerary_screen .btn-danger { color:#FFF; }
#itinerary_screen .btn-danger:hover { color:#FFF; }
#itinerary_screen .btn-default { color:#000; }